.checkbox1{
    display:inline-block;
    vertical-align:top;
    padding-top: 31px;
    padding-left: 40px;
}
#scales{
    width:17px;
    height:17px;
    margin-left: 50px;
}
#horns{
    width:17px;
    height:17px;

}
.entity{
    display:inline-block;
}
.Knowledge{
    display:inline-block;
}