.titleBar {
  background-color: #000;
  display: block;
  color: #fff;
  padding-left: 45%
}
.App {
}
.stylingbody{
  margin-left: 10%;
}

.form{
  width:50%;
  margin-right: 15%;
  margin-bottom:7%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: 10%;
  margin-top: 1%;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#arrow {
  border-right:2px solid black;
  border-bottom:2px solid black;
  width:10px;
  height:10px;
  transform: rotate(-45deg);
  margin-top:40px;
}

ul li {
  padding-bottom: 10px;list-style:none;
  }
  
  ul li:before{
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  content: "";
  display: inline-block;
  margin-right: 5px;
  }
  
  