body {
  margin: 0;
  font-family:'Circular Std';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Circular Std';
}

@font-face {
  
  font-family: 'Circular Std';
  src:local('Circular Std'), local('Circular Std'),
   url('../src/CircularStd-Book.woff') format('woff2'),
      url('../src/CircularStd-Book.woff2') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../src/CircularStd-Bold.woff2') format('woff2'),
      url('../src/CircularStd-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../src/CircularStd-Medium.woff2') format('woff2'),
      url('../src/CircularStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
