.home table {background: #ffffff;
    color: #000000; 
}

.home table:hover{
background: #a0a0a0;
 color: #000000;

}


.home table:active{
    background: #b37c7c;
     color: #000000;
    
    }

 .home table:visited{
    background: #fff01d;
     color: #000000;
    
    }